{% extends 'base.twig' %}

{% block content %}
   
    <h2 class="intro-text text-center">
        Dodawanie nowej oceny do systemu
    </h2>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
<hr>
{% endblock %}


