{% extends 'base.twig' %}
    

{% block title %}Lista średnich{% endblock %}

{% block content %}
    <h1>
       Lista aktualnych średnich ocen
    </h1>
    <p>
       
    </p>
    {%  if oceny|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                   <th>imię</th> 
                    <th>nazwisko</th>
                    <th>nazwa przedmiotu</th>
                    <th>średnia</th>
                    
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for ocena in oceny %}
                <tr>
                    <td>{{ ocena.imie|e }}</td> 
                    <td>{{ ocena.nazwisko|e }}</td>
                    <td>{{ ocena.nazwa|e }}</td>
                    <td>{{ ocena.srednia|e }}</td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak ocen na liście
        </p>
    {% endif %}
<p>

</p>
<hr>
{% endblock %}


