{% extends 'base.twig' %}

{% block content %}
   
    <h2 class="intro-text text-center">
     
    </h2>
    <div>Wybierz przedmiot, aby wyświetlić aktualną średnią czątkowych ocen
        uczniów, którzy uczęszczają na zajęcia klasy zapisanej na te zajęcia  </div>
    <hr>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
        
        
<hr>
{% endblock %}


