{% extends 'base.twig' %}
    

{% block title %}Lista ocen{% endblock %}

{% block content %}
    <h1>
       Lista aktualnych ocen
    </h1>
    <p>
       
    </p>
    {%  if oceny|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                   {# <th>Id</th> #} 
                    <th>stopień</th>
                    <th>data wystawienia</th>
                    <th>przedmiot</th>
                    
                    <th>komentarz</th>
                    
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for ocena in oceny %}
                <tr>
                  {#  <td>{{ ocena.idOcena|e }}</td> #} 
                    <td>{{ ocena.stopien|e }}</td>
                    <td>{{ ocena.data_wystawienia|e }}</td>
                    <td>{{ ocena.nazwa|e }}</td>
                    
                    <td>{{ ocena.komentarz|e }}</td>
                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak ocen na liście
        </p>
    {% endif %}
<p>

</p>
<hr>
{% endblock %}


