{% extends 'base.twig' %}


{% block title %}Lista ocen{% endblock %}

{% block content %}
    <h2>
        Wybierz, które oceny chcesz wyświetlić
    </h2>
    <br><br>
    <div><p><a href="{{ url('/ocena/') }}" title="Wszystkie oceny">
                Wyświetl wszystkie oceny znajdujące się w systemie
            </a></p><br>
            <p><a href="{{ url('/ocena/przedmiot') }}" title="przedmiot">
                Wyświetl wszystkie oceny w systemie z wybranego przedmiotu
                </a></p><br>
            <p><a href="{{ url('/ocena/uczen') }}" title="uczeń">
                Wyświetl wszystkie oceny wybranego ucznia
                </a></p><br>
        <p><a href="{{ url('/ocena/indexwybrane') }}" title="uczeń+przedmiot">
                Wyświetl oceny wybranego ucznia z wybranego przedmiotu
            </a></p></div>

    <p>

    </p>
    <hr>
{% endblock %}

