 
{% extends 'base.twig' %}
    

{% block title %}Lista ocen{% endblock %}

{% block content %}
    <h1>
       Lista aktualnych ocen
    </h1>
    <p>
        <a href="{{ url('/ocena/add') }}" title="Dodaj ocenę">
            Dodaj ocenę
        </a>
    </p>

    </div>
 
{%  if oceny|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                   {#<th>Id</th> #}
                    <th>stopień</th>
                    <th>data wystawienia</th>
                    <th>przedmiot</th>
                    
                    <th>komentarz</th>
                    {% if is_granted('ROLE_NAUCZYCIEL') %}
                    <th>opcje</th>
                    {% endif %}
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for ocena in oceny %}
                <tr>
                   {# <td>{{ ocena.idOcena|e }}</td> #} 
                    <td>{{ ocena.stopien|e }}</td>
                    <td>{{ ocena.data_wystawienia|e }}</td>
                    <td>{{ ocena.nazwa|e }}</td>
                    
                    <td>{{ ocena.komentarz|e }}</td>
                    {% if is_granted('ROLE_NAUCZYCIEL') %}
                    <td><a href="{{ url('/ocena/edit', {'id':ocena.idOcena|e}) }}" title="edytuj ocenę">
                            edytuj<br>  
        </a><a href="{{ url('/ocena/delete', {'id':ocena.idOcena|e}) }}" title="usuń ocenę">
            usuń
        </a> </td> {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak ocen na liście
        </p>
    {% endif %}
<p>

</p>
<hr>
{% endblock %}