{% extends 'base.twig' %}

{% block content %}
    <h1>
        Usuń dodatkowe dane ucznia
    </h1>
    <div>
        <h3>Czy na pewno chcesz usunąć dodatkowe dane ucznia?</h3>

        <form action="#" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}