{% extends 'base.twig' %}

{% block title %}Lista uczniów zapisanych na przedmiot{% endblock %}

{% block content %}
    <h1>
        Uczniowie zapisani na przedmiot
    </h1>
    <p>
       
    </p>
    {%  if uczniowie|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>imię</th>
                    <th>nazwisko</th>
                   

                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for uczen in uczniowie %}
                    <tr>
                        <td>{{ uczen.imie|e }}</td>
                        <td>{{ uczen.nazwisko|e }}</td>
                       
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak uczniów na liście
        </p>
    {% endif %}
{% endblock %}

