{% extends 'base.twig' %}

{% block title %}Lista uczniów{% endblock %}

{% block content %}
    <h1>
        Lista uczniów
    </h1>
    <p>
        <a href="{{ url('/uczen/add') }}" title="Dodaj ucznia">
            Dodaj ucznia
        </a>
    </p>
    {%  if uczniowie|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>imię</th>
                    <th>nazwisko</th>
                    <th>login</th>
                    <th>data urodzenia</th>

                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for uczen in uczniowie %}
                    <tr>
                        <td>{{ uczen.imie|e }}</td>
                        <td>{{ uczen.nazwisko|e }}</td>
                        <td>{{ uczen.login|e }}</td>
                        <td>{{ uczen.data_urodzenia|e }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak uczniów na liście
        </p>
    {% endif %}
{% endblock %}