{% extends "base.twig" %}
{% block content %}

    <div> 
        <p> Dostęp dla administratora</p>
    </div>

    <a href="{{ app.request.baseUrl }}/user"><input type="button" value="Użytkownicy"></a>
    <a href="{{ app.request.baseUrl }}/klasa"><input type="button" value="Klasy"></a>
    <a href="{{ app.request.baseUrl }}/przedmiot"><input type="button" value="Przedmioty"></a>
    <a href="{{ app.request.baseUrl }}/ocena"><input type="button" value="Oceny"></a>
    <p>

    </p>

{% endblock %}


