<!DOCTYPE html>

<html>

    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ app.request.basepath }}/fx/css/bootstrap.css" rel="stylesheet" media="screen">
     
  
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="{{ app.request.basepath }}/fx/js/bootstrap.js"></script>


        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
    </head>
    <body>

        <nav class="navbar navbar-default" role="navigation">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'menu_top.twig' %}
            {% endif %}
        </nav>

        <div class="brand">
           <h1>Dziennik elektroniczny</h1></div>
        <div class="address-bar"><a href="{{ app.request.basepath }}">Strona domowa</a></div>

        <nav class="navbar navbar-default" role="navigation">
            {% include 'menu.twig' %}
        </nav>

        <div class="container">
            <div>
                {% for flashMessage in app.session.getFlashBag.get('message') %}
                    <div class="alert alert-{{ flashMessage.type }}">
                        {{ flashMessage.content }}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="box">
                {% block content %}{% endblock %}

            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    {% include 'footer.twig' %}
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

{#<div id="inner-wrapper">

    <header>
        <p>
        <hr> </p>
        <h1>Dziennik elektroniczny</h1>
        <p>
        <hr> </p>
    </header>
    <hr>


{% block content %}{% endblock %}
#}


