{% extends "base.twig" %}

{% block pagetitle %} - Strona główna{% endblock %}
{% block content %}

    <div>
        Dziennik elektroniczny to aplikacja umożliwiająca zarządzanie 4 modułami:
        <ul><li>użytkowników</li>
        <li>klas</li>
        <li>przedmiotów</li>
        <li>ocen</li>
        </ul>
    </div>
    <div>
         {% if is_granted('IS_AUTHENTICATED_FULLY') == NULL %}
        Aby rozpocząć pracę w serwisie <a href="{{ app.request.baseUrl }}/auth/login">zaloguj się</a> <br>
        {% endif %}
    <p>

    </p>
    <hr>
{% endblock %}


