{% extends "base.twig" %}

{% block pagetitle %} {% endblock %}

{% block content %}

<div> Zostałeś zalogowany do systemu.
    <p> Teraz możesz rozpocząć pracę w serwisie </p>
</div>

<p>

</p>

{% endblock %}


