<div class="container">
    <div class="navbar-header">


        <ul class="nav navbar-nav">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Na skróty <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('/klasa/add') }}">Dodaj klasę</a>
                        </li>
                        <li>
                            <a href="{{ path('/przedmiot/add') }}">Dodaj przedmiot</a>
                        </li>
                        <li><a href="{{ path('/user/add') }}">Dodaj użytkownika</a>
                        </li>

                    </ul>
                <li>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Moduły <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('/klasa/') }}">Klasy</a>
                        </li>
                        <li><a href="{{ path('/przedmiot/') }}">Przedmioty
                            </a></li>
                        <li><a href="{{ path('/user/') }}">Użytkownicy</a>
                        </li>
                    </ul>
                </li>
            {% endif %}

            {% if is_granted('ROLE_NAUCZYCIEL') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Oceny <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('/ocena/add') }}">Dodaj ocenę</a>
                        </li>
                        <li>
                            <a href="{{ path('/ocena/opcje') }}">Zobacz oceny</a>
                        </li>
                        <li>
                            <a href="{{ path('/ocena/avg_all') }}">Średnie ocen cząstkowych</a>
                        </li>
                        <li>
                            <a href="{{ path('/okresowe/') }}">Oceny okresowe</a>
                        </li>

                    </ul>
                </li>
            {% endif %}
             {% if not is_granted('ROLE_NAUCZYCIEL') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Oceny <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      
                        <li>
                            <a href="{{ path('/ocena/student') }}">Zobacz oceny</a>
                        </li>
                        <li>
                            <a href="{{ path('/okresowe/student') }}">Oceny okresowe</a>
                        </li>
                        <li>
                            <a href="{{ path('/ocena/avg') }}">Aktualne średnie z przedmiotów</a>
                        </li>

                    </ul>
                </li>
            {% endif %}
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle"> Moje konto
                    <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('/user/view') }}">Profil</a></li>
                        {# <li><a href="{{ path('/user/edit/') }}">Edytuj profil</a></li> #}

            </li>

            <li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('/auth/logout') }}">Wyloguj</a>
                {% endif %}
            </li>
        </ul>
        </li>
        </ul>
    </div>
</div>