<div class="container">
    <div class="navbar-header">
        
       
    </div>


        <ul class="nav navbar-nav">
            <li>
                <a href="{{ path('/klasa/') }}">Lista klas</a>
            </li>
            <li>
                <a href="{{ path('/przedmiot/') }}">Lista przedmiotów</a>
            </li>
            
            <li>
                {% if is_granted('IS_AUTHENTICATED_FULLY') == NULL %}
                    <a href="{{ path('/auth/login') }}">Zaloguj</a>
                {% endif %}
            </li>
            <li>
               {# {% if is_granted('IS_AUTHENTICATED_FULLY')==NULL %}
                    <a href="{{ path('/klasa/') }}">Kontakt</a>
                {% endif %} #}
            </li>

        </ul>
    </div>
</div>