{% extends 'base.twig' %}
{% block content %}
    <hr>
<div> Strona z przedmiotami </div>
<p>*dodaj przedmiot*</p>
<p>*edytuj*</p>
<p>*usuń przedmiot*</p>
<p>*aktualna lista przedmiotów*</p>
<p>

</p>
<hr>
{% endblock %}


