{% extends 'base.twig' %}

{% block title %}Lista przedmiotów{% endblock %}

{% block content %}
    <h1>
        Aktualna lista przedmiotów
    </h1>
    <p>
        <a href="{{ url('/przedmiot/add') }}" title="Dodaj przedmiot">
            Dodaj przedmiot
        </a>
    </p>
    {%  if przedmioty|length > 0 %}
        <table>
            <thead>
                <tr>
                   {# <th>Id</th> #}
                    <th>nazwa</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for przedmiot in przedmioty %}
                    <tr>
                       {# <td>{{ przedmiot.idPrzedmiot|e }}</td> #}
                        <td>{{ przedmiot.nazwa|e }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak przedmiotów na liście
        </p>
    {% endif %}
{% endblock %}