{% extends "base.twig" %}
{% block content %}

    <div> 
        <p> Dostęp dla nauczyciela</p>
    </div>

    
    <a href="{{ app.request.baseUrl }}/klasa/index"><input type="button" value="Aktualna lista klas"></a>
    <a href="{{ app.request.baseUrl }}/przedmiot"><input type="button" value="Aktualna lista przedmiotów"></a>
    <a href="{{ app.request.baseUrl }}/ocena"><input type="button" value="Moduł z ocenami"></a>
    <p>

    </p>

{% endblock %}


