{% extends 'base.twig' %}


{% block title %}Lista ocen{% endblock %}

{% block content %}
    <h1>
        Lista aktualnych ocen okresowych 
    </h1>
    <p>
        <a href="{{ url('/okresowe/add') }}" title="Dodaj ocenę okresową">
            Dodaj ocenę
        </a>
    </p>
    {%  if oceny|length > 0 %}
        <table class="table">
            <thead>
                <tr>

                    <th>przedmiot</th>
                        {% if is_granted('ROLE_NAUCZYCIEL') %}
                        <th>id ucznia</th>
                        {% endif %}
                    <th>ocena semestralna</th>
                    <th>ocena roczna</th>
                        {% if is_granted('ROLE_NAUCZYCIEL') %}
                        <th>opcje</th>
                        {% endif %}
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for ocena in oceny %}
                    <tr>
                        
                        <td>{{ ocena.nazwa|e }}</td>
                        {% if is_granted('ROLE_NAUCZYCIEL') %}
                            <td>{{ ocena.iduser|e }}</td>
                        {% endif %}
                        <td>{{ ocena.ocena_semestr|e }}</td>
                         <td>{{ ocena.ocena_rok|e }}</td>
                        {% if is_granted('ROLE_NAUCZYCIEL') %}
                            <td><a href="{{ url('/okresowe/edit', {'id':ocena.id|e}) }}" title="edytuj ocenę">
                                    edytuj<br>  
                                </a> </td> {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>
                            Brak ocen na liście
                        </p>
                        {% endif %}
                            <p>

                            </p>
                            <hr>
                            {% endblock %}


