{% extends 'base.twig' %}

{% block content %}
    <h1>
        Usuń przedmiot
    </h1>
    <div>
        <h3>Czy na pewno chcesz usunąć ten przedmiot</h3>

        <form action="#" method="post">
            {{ form_widget(form) }}
        </form>
    </div>

{% endblock %}