{% extends 'base.twig' %}


{% block title %}Lista przedmiotów{% endblock %}

{% block content %}
    <h1>
        Aktualna lista przedmiotów
    </h1>
    <p> {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('/przedmiot/add') }}" title="Dodaj przedmiot">
            Dodaj przedmiot
        </a> {% endif %}
    </p>
    {%  if przedmioty|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>nazwa</th>
                     {% if is_granted('ROLE_ADMIN') %}
                    <th>opcje</th>
                    {% endif %}
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for przedmiot in przedmioty %}
                    <tr>
                        <td>{{ przedmiot.nazwa|e }}</td> 
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ url('/przedmiot/edit', {'id':przedmiot.idPrzedmiot|e}) }}" title="edytuj nazwę">
                                    edytuj<br>  
                                </a><a href="{{ url('/przedmiot/delete', {'id':przedmiot.idPrzedmiot|e}) }}" title="usuń przedmiot">
                                    usuń
                                </a><br>
                            <a href="{{ url('/uczen/uczen_przedmiot', {'id':przedmiot.idPrzedmiot|e}) }}" title="usuń przedmiot">
                                    uczniowie zapisani na przedmiot
                                </a></td>
                            {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak przedmiotów na liście
        </p>
    {% endif %}
    <p>

    </p>
    <hr>
{% endblock %}





