{% extends 'base.twig' %}

{% block title %}Uzupełnianie danych nauczyciela{% endblock %}

{% block content %}
    <h1>
        Zmiana danych
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" />
    </form>
{% endblock %}