{% extends 'base.twig' %}

{% block title %}Lista nauczycieli{% endblock %}

{% block content %}
    <h1>
        Lista nauczycieli
    </h1>
    <p>
        <a href="{{ url('/user/add') }}" title="Dodaj nauczyciela">
            Dodaj nauczyciela
        </a>
    </p>
    {%  if nauczyciele|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>imię</th>
                    <th>nazwisko</th>
                    <th>login</th>
                    <th>tytuł naukowy</th>
                    <th>wychowawstwo</th>
                    {% if is_granted('ROLE_ADMIN') %}
                    <th>opcje</th>
                    {% endif %}

                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for nauczyciel in nauczyciele %}
                    <tr>
                        <td>{{ nauczyciel.imie|e }}</td>
                        <td>{{ nauczyciel.nazwisko|e }}</td>
                        <td>{{ nauczyciel.login|e }}</td>
                        <td>{{ nauczyciel.tytul|e }}</td>
                        <td>{{ nauczyciel.rocznik|e }}{{ nauczyciel.oddzial}}
                        </td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ url('/nauczyciel/edit', {'id':nauczyciel.iduser|e}) }}" title="edytuj klasę">
                                    edytuj<br>
                        {% endif %}
               
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak nauczycieli na liście
        </p>
    {% endif %}
{% endblock %}

