{% extends 'base.twig' %}

{% block content %}

    <div>
        <hr>
   
        <hr>
        <p>{{ nauczyciel.tytul|e}}  {{ nauczyciel.imie|e }} {{ nauczyciel.nazwisko|e }}</p>
        
    </div>
{% endblock %}
{% block comments %}{% endblock %}