
{% extends 'base.twig' %}

{% block title %}Lista użytkowników{% endblock %}

{% block content %}
    <h1>
     Lista użytkowników
    </h1>
    <p>
        <a href="{{ url('/user/add') }}" title="Dodaj użytkownika">
            Dodaj użytkownika
        </a>
    </p>
    {%  if users|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    
                    <th>login</th>
                    <th>imię</th>
                    <th>nazwisko</th>
                    <th>rola</th>
                    <th>opcje</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    
                    <td>{{ user.login|e }}</td>
                    <td>{{ user.imie|e }}</td>
                    <td>{{ user.nazwisko|e }}</td>
                    <td>{{ user.name|e }}</td>
                    <td><a href="{{ url('/user/edit', {'id':user.iduser|e}) }}" title="edytuj ocenę">
                            edytuj<br>  
        </a><a href="{{ url('/user/delete', {'id':user.iduser|e}) }}" title="usuń ocenę">
            usuń
        </a> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak użytkowników na liście
        </p>
    {% endif %}
{% endblock %}