{% extends 'base.twig' %}

{% block content %}

    <div>
        <hr>
        <h4 class="intro-text text-center">{{ user.login|e }}</h4>
        <hr>
        <p>{{ user.imie|e }} {{ user.nazwisko|e }}</p>
    </div>
{% endblock %}
{% block comments %}{% endblock %}