{% extends 'base.twig' %}

{% block title %}Lista klas{% endblock %}

{% block content %}
    <h1>
        Aktualna lista klas
    </h1>
    <p> {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('/klasa/add') }}" title="Dodaj klasę">
            Dodaj klasę
        </a>
            {% endif %}
    </p>
    {%  if klasy|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>rocznik</th>
                    <th>oddział</th>
                     {% if is_granted('ROLE_ADMIN') %}
                    <th>opcje</th>
                    {% endif %}
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for klasa in klasy %}
                    <tr>
                        {# <td>{{ klasa.idKlasa|e }}</td> #}
                        <td>{{ klasa.rocznik|e }}</td>
                        <td>{{ klasa.oddzial|e }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ url('/klasa/edit', {'id':klasa.idKlasa|e}) }}" title="edytuj klasę">
                                    edytuj<br>  
                                </a><a href="{{ url('/klasa/delete', {'id':klasa.idKlasa|e}) }}" title="usuń klasę">
                                    usuń
                                    <br> </a>
                            <a href="{{ url('/uczen/lista', {'id':klasa.idKlasa|e}) }}" title="lista">
                                    lista uczniów danej klasy
                                </a></td>
                            {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak klas na liście
        </p>
    {% endif %}
{% endblock %}