{% extends 'base.twig' %}

{% block title %}Lista klas{% endblock %}

{% block content %}
    <h1>
        klasy lista
    </h1>
    <p>
        <a href="{{ url('/klasa/add') }}" title="Dodaj klasę">
            Dodaj klasę
        </a>
    </p>
    {%  if klasy|length > 0 %}
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>rocznik</th>
                    <th>oddzial</th>
                    <th colspan="2">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for klasa in klasy %}
                <tr>
                    <td>{{ klasa.idKlasa|e }}</td>
                    <td>{{ klasa.rocznik|e }}</td>
                    <td>{{ klasa.oddzial|e }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Brak klas na liście
        </p>
    {% endif %}
{% endblock %}