{% extends 'base.twig' %}

{% block title %}Edit Album{% endblock %}

{% block content %}
    <h1>
        edit Album
    </h1>
    <form action="" method="post">
        {{ form_widget(form) }}
    </form>
{% endblock %}