{% extends 'base.twig' %}
{% block content %}
<hr>
<div> Strona z klasami </div>
<p><a href="{{ app.request.baseUrl}}/klasa/add"> dodaj klasę</a></p>
<p><a href="{{ app.request.baseUrl}}/klasa/edit">zmień informacje</a></p>
<p><a href="{{ app.request.baseUrl}}/klasa/delete">*usuń klasę*</a></p>
<p><a href="{{ app.request.baseUrl}}/klasa/view">*aktualna lista klas*</a></p>

<p>

</p>
<hr>
{% endblock %}


