{% extends 'base.twig' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>
        Login
    </h1>
    {{ error }}
    <form action="{{ path('auth_login_check') }}" method="post">
	{{ error }}
        {{ form_widget(form) }}
	<input class="btn" type="submit" name="submit">
    </form>
{% endblock %}